/*--------------------------------------------------------------
TopShop - Header Standard Styling
--------------------------------------------------------------*/

.topshop-header-layout-standard .site-top-bar-left {
    float: left;
    padding: 3px 0;
    min-height: 25px;
    width: 50%;
    background-color: #ffffff;
    position: relative;
    z-index: 99;
}
.topshop-header-layout-standard .site-top-bar-left ul li:first-child a {
    padding: 0 10px 0 0;
}
.topshop-header-layout-standard .site-top-bar-left ul li:last-child {
    box-shadow: none;
}
.topshop-header-layout-standard .site-top-bar-left ul li:last-child a {
    padding: 0 0 0 6px;
}
.topshop-header-layout-standard .site-top-bar-left-text {
    display: inline-block;
    font-size: 11px;
    margin: 0 1px 0 0;
}

.topshop-header-layout-standard .site-top-bar-right {
    float: right;
    font-size: 14px;
    padding: 1px 0 3px;
    width: 50%;
    text-align: right;
    background-color: #ffffff;
    position: relative;
    z-index: 99;
}
.topshop-header-layout-standard .site-top-bar-right i {
    margin: 0 0 0 8px;
}

.topshop-header-layout-standard .site-header-left {
    float: left;
    min-height: 91px;
}
.topshop-header-layout-standard .site-header-left img {
    display: block;
    margin: 0;
}
.topshop-header-layout-standard .site-header-right {
    float: right;
    min-height: 91px;
    padding: 34px 0 0;
    font-size: 12px;
}
.topshop-header-layout-standard .site-header-right a {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    color: #626262;
}
.topshop-header-layout-standard .site-header-right-link {
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0;
    padding: 1px 8px 1px 0;
    line-height: 14px;
}
.topshop-header-layout-standard .site-header-right-link a {
    padding: 1px 5px 0px;
    border-radius: 3px;
    
    -webkit-transition: all 0.05s linear 0s;
     -moz-transition: all 0.05s linear 0s;
      -ms-transition: all 0.05s linear 0s;
       -o-transition: all 0.05s linear 0s;
          transition: all 0.05s linear 0s;
}
.topshop-header-layout-standard .site-header-right-link a:hover {
    background-color: #545454;
    color: #FFF;
}

.topshop-header-layout-standard .site-title {
    font-size: 34px;
    line-height: 34px;
    margin: 0;
    padding: 17px 0 0;
}
.topshop-header-layout-standard .site-description {
    margin: 0;
    padding: 4px 0 0;
    font-size: 12px;
}