/*********************
NAVIGATION STYLES
*********************/
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
   .alignleft,  img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
   .alignright,  img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
   .aligncenter,  img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 760px; }

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav ul {
    margin-top: 0; }
  .nav li {
    float: left;
    position: relative;
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */ }
    .nav li a {
      border-bottom: 0;
      /*
      you can use hover styles here even though this size
      has the possibility of being a mobile device.
      */ }
      .nav li a:hover, .nav li a:focus {
        color: white;
        text-decoration: underline; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      border: 1px solid #333;
      border-top: 0;
      position: absolute;
      overflow: hidden;
      visibility: hidden;
      z-index: 8999;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        /*
        if you need to go deeper, go nuts
        just remember deeper menus suck
        for usability. k, bai.
        */ }
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          padding-left: 10px;
          border-right: 0;
          display: block;
          width: 180px;
          border-bottom: 1px solid #333; }
        .nav li ul.sub-menu li:last-child a,
        .nav li ul.children li:last-child a {
          border-bottom: 0; }
    .nav li:hover ul {
      top: auto;
      overflow: visible;
      visibility: visible; }

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */ }

/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wrap{width: 95%!important;}
/*top*/
.search-bar input.search-field[type="search"] {background-image: url(../images/search-2.png);}
/*slider*/
.captions h1{font-size: 20px;}
.captions p{font-size: 14px;}
.blog-list .item{float: none;}
/*gallery*/
.gallery-columns-2 .gallery-item,.gallery-columns-2  .gallery-icon.portrait,.gallery-columns-2  .gallery-icon.landscape{width: 44%;}
.gallery-columns-3 .gallery-item,.gallery-columns-3  .gallery-icon.portrait,.gallery-columns-3  .gallery-icon.landscape{width: 27%;}
.cf[role="main"]{padding-right: 0.75em;width: 71.4286%;float: left;}

.mejs-container{height: 50px!important;padding-bottom: 40px;}